body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background: url('./pages/images/christpraying.jpg') repeat;
  background-size: 50%;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.text-background {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}
.quote-background {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.quote-text {
  font-size: 1.5rem;
}

.image-large {
  max-width: 100%;
  width: 300px;
  height: auto;
}
